- name: Install Docker
  apt:
    name: docker.io
    state: present

- name: Start Docker
  systemd:
    name: docker
    state: started
    enabled: yes

- name: Add ubuntu to docker group
  user:
    name: ubuntu
    groups: docker
    append: yes

- name: Install kubectl
  shell: |
    curl -LO https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl
    chmod +x kubectl
    sudo mv kubectl /usr/local/bin/

- name: Install Minikube
  shell: |
    curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
    chmod +x minikube-linux-amd64
    sudo mv minikube-linux-amd64 /usr/local/bin/minikube
